.App {
  text-align: center;
}

.pagedark {
  width: 100vw;
  height: 100vh;
  background-color: #000;
}

.pageblack,
.pagewhite,
.pageyellow,
.pagegreen {
  width: 100vw;
  height: 100vh;
}

.pageblack {
  background-color: #000;
}
.pagewhite {
  background-color: #fff;
}
.pageyellow {
  background-color: yellow;
}
.pagegreen {
  background-color: green;
}

.buttons {
  top: 50%;
  left: 50%;
}

.button-dark {
  background-color: #000;
  color: #fff;
  width: 150px;
  padding: 0.5rem;
  margin-right: 10px;
  border: 2px solid #fff;
}

.button-light {
  width: 150px;
  padding: 0.5rem;
  margin-right: 10px;
  border: 2px solid #000;
}

.button-extra {
  width: 150px;
  padding: 0.5rem;
  border: 2px solid #000;
}

.button-black,
.button-white,
.button-yellow,
.button-green {
  background-color: #000;
  color: #fff;
  width: 150px;
  padding: 0.5rem;
  margin-right: 10px;
  border: 2px solid #fff;
}

.button-green {
  margin: 0;
}
